.placeholderRepos {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    background-color: white;
}

.placeholder__item {
    padding: 8%;
    height: 23vh;
    border: 2px solid var(--border-color);
    border-radius: 16px;
}

.placeholder__title {
    width: 100%;
}