.userFollowers__followerList {
    margin-left: 35vh;
    margin-top: 60px;
    padding: 2vh 12vh 2vh;
}

.userFollowers__followerList_title {
    margin-bottom: 24px;
}

.userFollowers__followerList_count {
    margin-bottom: 36px;
}