.userRepos__repoList {
    margin-left: 35vh;
    margin-top: 60px;
    padding: 2vh 12vh 2vh;
}

.userRepos__repoList_title {
    margin-bottom: 24px;
}

.userRepos__repoList_count {
    margin-bottom: 36px;
    font-weight: 500;
    color: var(--theme-blue-shadow-color);
}