.repoItem {
    padding: 32px;
    height: 23vh;
    border: 2px solid var(--border-color);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .2s ease-out;
}

.repoItem:hover {
    color: var(--text-color-primary);
    cursor: pointer;
    box-shadow: 0px 0px 20px -5px rgba(178, 178, 178, 0.45);
    transition: all .2s ease-out;
}

.repoItem__repo_title {
    margin-bottom: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.repoItem__description {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
}

.repoItem__bottom {
    display: flex;
    justify-content: space-between;
}

.repoItem__stargazers_container, .repoItem__forks_container {
    width: 50%;
    display: flex;
    align-items: center;
}

.repoItem__icon {
    margin-right: 6px;
}

.repoList > a:hover {
    color: var(--text-color-primary);
    cursor: unset;
}